/* -------------------------
General --------------------
*/
body {
    background-color: #ffffff;
}

/* ----------------------
header---------------------
 */
#header {
    background-color: white;
    padding-left: 73px;
    padding-right: 73px;
}

.navbar-brand img {
    height: 100px;
    width: 241px;

}

#header .conteiner-fliud li {
    display: flex;
    flex-direction: row-reverse;

}

#header button {
    background-color: #d9232d;
    border-radius: 4px;
    padding: 8px 25px;
    margin-left: 30Opx;
    font-weight: 400;
    color: #ffffff;
    border: 0;
}

/*--------------------------------
 Carrusel 1 ---------------------
 */

 #carrusel1 .carousel-inner {
    box-sizing: border-box;
    height: 850px;
    width: 100%;
 }

 #carrusel1 .carousel-inner img {
     box-sizing: border-box;
     height: 850px;
     width: 100%;
     opacity: 1;
 }

 #carrusel1 h5 {
     padding-bottom: 0vw;
     font-size: 48px;
    font-weight: 700;
    color: rgb(255, 255, 255);
 }


 #carrusel1 p {
     color: white;
     padding-bottom: 19vw;
 }

/*--------------------------------
 Segundo carrusel----------------------
  */

#carouselExampleSlidesOnly {
    width: 350px;
    height: 350px;
}

#carouselExampleSlidesOnly img {
    width: 350px;
    height: 200px;
}

 /* ---------------------------
 Footer ----------------------
 */

 #footer {
    background: white;
    padding: 0 0 30px 0;
    color: #266a98
    font-size: 14px;
  }
  #footer .footer-top {
    background: white;
    padding: 60px 0 30px 0;
  }
  #footer .footer-top .footer-info {
    margin-bottom: 30px;
  }
  #footer .footer-top .footer-info h3 {
    font-size: 24px;
    margin: 0 0 20px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-weight: 700;
  }
  #footer .footer-top .footer-info p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Raleway", sans-serif;
    color: #266a98;
  }
  #footer .footer-top .social-links a {
    font-size: 18px;
    display: inline-block;
    background: rgba(255, 255, 255, 0.1);
    color: #266a98;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 4px;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
  }
  #footer .footer-top .social-links a:hover {
    background: #d9232d;
    color: #266a98;
    text-decoration: none;
  }
  #footer .footer-top h4 {
    font-size: 16px;
    font-weight: 600;
    color: #266a98;
    position: relative;
    padding-bottom: 12px;
  }
  #footer .footer-top .footer-links {
    margin-bottom: 30px;
  }
  #footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  #footer .footer-top .footer-links ul i {
    padding-right: 2px;
    color: blue;
    font-size: 18px;
    line-height: 1;
  }
  #footer .footer-top .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
  }
  #footer .footer-top .footer-links ul li:first-child {
    padding-top: 0;
  }
  #footer .footer-top .footer-links ul a {
    color: #266a98;
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
  }
  #footer .footer-top .footer-links ul a:hover {
    color: rgb(0, 4, 255);
  }
  #footer .footer-top .footer-newsletter form {
    margin-top: 30px;
    background: rgba(177, 175, 175, 0.288);
    padding: 6px 10px;
    position: relative;
    border-radius: 4px;
  }
  #footer .footer-top .footer-newsletter form input[type=email] {
    border: 0;
    padding: 4px;
    width: calc(100% - 110px);
  }
  #footer .footer-top .footer-newsletter form input[type=submit] {
    position: absolute;
    top: 0;
    right: -2px;
    bottom: 0;
    border: 0;
    background: none;
    font-size: 16px;
    padding: 0 20px 2px 20px;
    background: #d9232d;
    color: #fff;
    transition: 0.3s;
    border-radius: 0 4px 4px 0;
  }
  #footer .footer-top .footer-newsletter form input[type=submit]:hover {
    background: #df3740;
  }
  #footer .copyright {
    text-align: center;
    padding-top: 30px;
  }
  #footer .credits {
    padding-top: 10px;
    text-align: center;
    font-size: 13px;
    color: rgba(255, 255, 255, 0.6);
  }
  #footer .credits a {
    color: rgba(255, 255, 255, 0.6);
    transition: 0.3s;
    font-weight: 600;
  }
  #footer .credits a:hover {
    color: white;
  } 

  #footer .footer-newsletter img {
      width: 433px;
      height: 218px;
      margin-top: 40px;
  }